div(class='swiper bas-slider')
	div(class='swiper-wrapper bas-slider__wrapper')
		div(class='swiper-slide bas-slider__item')
			div(class='bas-slider__content') 
				img(src="images/sticky20.webp", alt="stcky iage", class='bas-slider__stcky20')
				//- img(src="images/game-description.webp", class='bas-slider__game-description', alt="game description")
				span(class='bas-slider__label') T&amp;C apply
				span(class='bas-slider__label-new') new
				video(src="videos/sports_dk.mp4", class="bas-slider__video-dk" autoplay, loop, muted, controls=false)
				video(src="videos/sports_mb.mp4", class="bas-slider__video-mb" autoplay, loop, muted, controls=false)
				div(class='bas-slider__text-container')
					h1(class='bas-slider__matchup-title')
						span(class='bas-slider__matchup-title-team-1') Lorem
						span(class='bas-slider__matchup-vrs-container')
							img(src="https://kikeestradadev.github.io/strapislider/images/vrs.png", alt="logo", class='bas-slider__matchup-vrs-logo')
						span(class='bas-slider__matchup-title-team-2') Lorem
					span(class='bas-slider__matchup-date') Lorem ipsum dolor sit amet.
					span(class='bas-slider__matchup-promo') Lorem ipsum dolor sit amet.
					span(class='bas-slider__matchup-label') Lorem ipsum dolor sit amet.
					a(class='bas-slider__cta', href="#") BET NOW
		div(class='swiper-slide bas-slider__item') 
			div(class='bas-slider__content')
				img(src="images/sticky20.webp", alt="stcky iage", class='bas-slider__stcky20')
				video(src="videos/casino_dk.mp4", class="bas-slider__video-dk" autoplay, loop, muted, controls=false)
				video(src="videos/casino_mb.mp4", class="bas-slider__video-mb" autoplay, loop, muted, controls=false)
				div(class='bas-slider__text-container')
					span(class='bas-slider__label-1') Lorem ipsum dolor sit amet consectetur.
					span(class='bas-slider__label-2') Lorem ipsum dolor sit.
					span(class='bas-slider__label-3') Lorem ipsum dolor sit amet.
					span(class='bas-slider__label-4') Lorem ipsum dolor sit amet.
					a(class='bas-slider__cta', href="#") BET NOW
		div(class='swiper-slide bas-slider__item') 
			div(class='bas-slider__content')
				img(src="images/sticky20.webp", alt="stcky iage", class='bas-slider__stcky20')
				video(src="videos/lottery_dk.mp4", class="bas-slider__video-dk" autoplay, loop, muted, controls=false)
				video(src="videos/lottery_mb.mp4", class="bas-slider__video-mb" autoplay, loop, muted, controls=false)
				div(class='bas-slider__text-container')
					span(class='bas-slider__label-1') Lorem ipsum dolor sit amet consectetur.
					span(class='bas-slider__label-2') Lorem ipsum dolor sit.
					span(class='bas-slider__label-3') Lorem ipsum dolor sit amet.
					span(class='bas-slider__label-4') Lorem ipsum dolor sit amet.
					a(class='bas-slider__cta', href="#") BET NOW
	div(class='bas-slider__prev swiper-button-prev')
	div(class='bas-slider__next swiper-button-next')
	div(class='bas-slider__pagination swiper-pagination')
